@font-face {
     font-family: 'Space Grotesk';
     src: url("fonts/SpaceGrotesk-Bold.woff2") format('woff2'),
          url("fonts/SpaceGrotesk-Bold.woff") format('woff'),
          url("fonts/SpaceGrotesk-Bold.otf") format('otf');
     font-weight: 700;
     font-style: normal;
}
 
@font-face {
     font-family: 'Space Grotesk';
     src: url("fonts/SpaceGrotesk-SemiBold.woff2") format('woff2'),
          url("fonts/SpaceGrotesk-SemiBold.woff") format('woff'),
          url("fonts/SpaceGrotesk-SemiBold.otf") format('otf');
     font-weight: 600;
     font-style: normal;
}
 
@font-face {
     font-family: 'Space Grotesk';
     src: url("fonts/SpaceGrotesk-Medium.woff2") format('woff2'),
          url("fonts/SpaceGrotesk-Medium.woff") format('woff'),
          url("fonts/SpaceGrotesk-Medium.otf") format('otf');
     font-weight: 500;
     font-style: normal;
}
 
@font-face {
     font-family: 'Space Grotesk';
     src: url("fonts/SpaceGrotesk-Regular.woff2") format('woff2'),
          url("fonts/SpaceGrotesk-Regular.woff") format('woff'),
          url("fonts/SpaceGrotesk-Regular.otf") format('otf');
     font-weight: 400;
     font-style: normal;
}
 
@font-face {
     font-family: 'Space Grotesk';
     src: url("fonts/SpaceGrotesk-Light.woff2") format('woff2'),
          url("fonts/SpaceGrotesk-Light.woff") format('woff'),
          url("fonts/SpaceGrotesk-Light.otf") format('otf');
     font-weight: 300;
     font-style: normal;
}
 
@font-face {
     font-family: 'Fidget Display';
     src: url("fonts/Fidget-Display.woff2") format('woff2'),
          url("fonts/Fidget-Display.woff") format('woff'),
          url("fonts/Fidget-Display.eot") format('otf');
     font-style: normal;
}
 
@font-face {
     font-family: 'Moondust';
     src: url("fonts/Moondust-Regular.woff2") format('woff2'),
          url("fonts/Moondust-Regular.woff") format('woff'),
          url("fonts/Moondust-Regular.eot") format('otf');
     font-style: normal;
}
 
@font-face {
     font-family: 'Orwell';
     src: url("fonts/Orwell-Regular.woff2") format('woff2'),
          url("fonts/Orwell-Regular.woff") format('woff'),
          url("fonts/Orwell-Regular.eot") format('otf');
     font-style: normal;
}

@font-face {
     font-family: 'Cadence';
     src: url("fonts/Cadence.woff2") format('woff2'),
          url("fonts/Cadence.woff") format('woff'),
          url("fonts/Cadence.eot") format('otf');
     font-style: normal;
}

@font-face {
     font-family: 'Manifest Display';
     src: url("fonts/Manifest-Display.woff2") format('woff2'),
          url("fonts/Manifest-Display.woff") format('woff'),
          url("fonts/Manifest-Display.eot") format('otf');
     font-style: normal;
}
 
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap');