#typeTester {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #000;
  cursor: pointer;
  margin-top: -4px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; Add cool effects to your sliders! */
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #000;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  cursor: pointer;
  background: #000;
  height: 1px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  cursor: pointer;
  background: #000;
  height: 1px;
}

.options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 1px solid black;
  font-family: 'Space Mono', monospace;
  font-size: 12px;
}

@media screen and (min-width: 650px) {
  .options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
  }
}

.options section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  padding: 10px;
}

.options section label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testIt {
  display: -ms-grid;
  display: grid;
  place-content: center;
  border-right: none;
  border-bottom: 1px solid black;
  grid-column: 1 / -1;
}

@media screen and (min-width: 650px) {
  .testIt {
    grid-column: auto;
    border-right: 1px solid black;
    border-bottom: none;
  }
}

.testIt h6 {
  font-family: 'Space Mono', Helvetica, Arial, sans-serif;
  font-size: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.fontSize {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 650px) {
  .fontSize {
    border-right: none;
    border-bottom: none;
  }
}

.lineHeight {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 650px) {
  .lineHeight {
    border-bottom: none;
  }
}

.letterSpacing {
  border-bottom: 1px solid black;
}

@media screen and (min-width: 650px) {
  .letterSpacing {
    border-top: none;
    border-right: 1px solid black;
    border-bottom: none;
  }
}

.align {
  border-left: none;
  border-right: 1px solid black;
}

@media screen and (min-width: 650px) {
  .align {
    border-left: none;
    border-right: 1px solid black;
    border-top: none;
  }
}

.align ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  padding: 10px;
}

.align ul li {
  cursor: pointer;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 5px 5px 2.5px;
}

.align ul li img {
  min-width: 20px;
  max-width: 40px;
  margin: 0;
  padding: 0;
}

.align ul li:hover {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.lights {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  place-content: center;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  border-right: 1px solid black;
}

@media screen and (min-width: 650px) {
  .lights {
    border-top: none;
    border-right: none;
  }
}

.lights img {
  width: 15px;
  min-width: 10px;
  max-width: 20px;
  display: block;
}

.lights h6 {
  font-family: 'Space Mono', monospace;
  font-style: italic;
  font-weight: 300;
  font-size: 10.5px;
  padding: 0;
  margin: 0;
  place-self: center;
  width: 100%;
}

#typeSpecimen {
  outline: none;
  /* font-family: 'Fidget Display'; */
  font-size: 30px;
  line-height: 120%;
  overflow-wrap: anywhere;
  padding: 75px 40px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.opentype {
  border: 1px solid #000;
  padding: 10px;
}

.opentype h6 {
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 10px;
}

ul.otList {
  list-style: none;
  font-family: 'Space Mono', monospace;
  font-size: 10.5px;
  font-weight: 300;
}

ul.otList li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.otList li button {
  padding: 5px;
  border: none;
  background: #fff;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

ul.otList li button:hover, ul.otList li button:active {
  background: #e2e2e2;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
}
/*# sourceMappingURL=typetester.css.map */